@import "tailwindcss";

@font-face {
    font-family: "Roboto Mono";
    src: url("./assets/fonts/roboto-mono-vb.ttf") format("truetype");
}

@theme {
    --color-*: initial;
    --color-light: #E3E3E3;
    --color-white: #FFFFFF;
    --color-dark: #000000;
    --animate-flash: flash 1.5s steps(1, start) infinite;
    @keyframes flash {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@layer base {
    body {
        font-family: "Roboto Mono", sans-serif;
        @apply text-[0.825rem];
    }
}

.gif-expand {
    clip-path: inset(0% 50% 0% 50%);
}

#scroll-path-expand {
    clip-path: inset(0% 50% 0% 50%);
}

.swipe-hover {
    width: fit-content;
}

#container {
    clip-path: inset(50% 50% 50% 50%);
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#container::-webkit-scrollbar {
    display: none;
}

.section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
}

.snap-image {
    clip-path: inset(0% 50% 0% 50%);
    will-change: clip-path;
}

#scroll-path-expand {
    clip-path: inset(0% 50% 0% 50%);
}

@media screen and (max-width: 768px) {
    #scroll-path-expand {
        clip-path: inset(0% 0% 0% 0%);
    }
}

